################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net7.0
/obj/Debug/net7.0
/.vs/ProjectEvaluation/shoppingcart.metadata.v6.1
/.vs/ProjectEvaluation/shoppingcart.projects.v6.1
/.vs/ShoppingCart/DesignTimeBuild/.dtbcache.v2
*.vsidx
/.vs/ShoppingCart/FileContentIndex/e81b0ce2-8a5e-430b-a9fb-963eab25a01d.vsidx
/.vs/ShoppingCart/v17/.suo
